# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/tfplan
**/outputs.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Secrets and Sensitive Files
*.pem
*.key
**/*secret*
**/*password*
DEPLOYMENT-INFO.txt
**/terraform.tfvars
!**/template.tfvars

# Logs
*.log

# Temporary files
*.tmp
*.bak
*~
